# Übung 2

Auch in Übung 2 beschäftigen wir uns wieder mit dem US Health Insurance Dataset, öffentlich verfügbar unter:https://www.kaggle.com/datasets/teertha/ushealthinsurancedataset

In [4]:
library(dplyr)
library(ggplot2)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
df <- read.csv("../insurance.csv")
head(df)

  age sex    bmi    children smoker region    charges
1 19  female 27.900 0        yes    southwest 16884.924
2 18  male   33.770 1        no     southeast  1725.552
3 28  male   33.000 3        no     southeast  4449.462
4 33  male   22.705 0        no     northwest 21984.471
5 32  male   28.880 0        no     northwest  3866.855
6 31  female 25.740 0        no     southeast  3756.622

### Aufgabe 1
Visualisiere das Attribut charges anhand der abhängigen Variable BMI. Bilde zusätzlich eine Statistik die dir ein Modell anzeigt.

Probiere zusätzlich zum Modell "lm" auch das Modell "loess". Was ist der Unterschied?

### Aufgabe 2

Visualisiere mit einem Violin-Plot (geom_violin) die Verteilung des Alters für die beiden Geschlechter.

Wie können die Violinen mit Farbe gefüllt werden?
Was passiert, wenn du versuchst zusätzlich noch einen geom_boxplot hinzuzufügen? Was passiert wenn der Parameter width im Boxplot gesetzt ist?

### Aufgabe 3

Berechne mit Hilfe von dplyr die Variable Körpertyp.
* Wenn BMI < 18, dann ist der Körpertyp "Untergewicht"
* Wenn BMI >= 18 und < 25 dann ist der Körpertyp "Normalgewicht"
* Wenn BMI >= 25 dann ist der Körpertyp "Übergewicht"

Visualisiere danach das Verhältnis age vs. charges, mit der Zusatzinfo über das Gewicht (entweder als facet oder aesthetics)